* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding-inline: 2em;
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}

/* Utility Classes */

img {
    display: block;
    height: auto;
    max-width: 100%;

}

.quote-container {
    background-color: white;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 12px;
    max-height: 400px;
    max-width: 500px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    outline: none;
    border: none;
    padding: 1em 2em;
    font-family: inherit;
    cursor: pointer;
    border-radius: 6px;
}

#the-quote {
    margin: 0 auto;
    max-width: 80%;
}